/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #search-section input {
	    width: 427px !important;
    }
    /*Disclaimer*/
    #disclaimer .gap-right {
	    margin-right: 0px;
    }
    nav ul li a {
	padding: 5px 25px 5px 25px !important;
    }
    #xtra-links .columns {
	width: 70% !important;
    }
    footer ul{
    text-align: none !important;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*News*/
    #news {
        padding: 30px 0 30px 0;
	}
     /* Footer 1*/
    #footer1 .col-md-4 {
        width: 25%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }